header{
	padding: 10px;
	text-align: center;
	font-weight: 600;
	font-size: 40px;
	color: White;
	font-family: Didot;
	background: url(https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0;
}

textarea {
	resize: none;
}

#subscribe-container {
	text-align: center;
	padding: 20px;
}


#postTitles{
	font-family: Didot;
	font-size: 20px;
}

#titles{
	font-family: Didot;
	font-size: 24px;
	
}

#mainPage{
	margin-left: 20px;
	margin-right: 20px;
	display:none;
}

#enterButton {
	position: absolute;
	width: 100px;
	bottom: 10%;
	left: 50%;
	margin-left: -50px;
	z-index: 1;
}

body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 30s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}



Resources