body {
	font-family: 'Pathway Gothic One', sans-serif;
	margin: 0;
	background: black;
	color: #feda4a;
}

button {
  background-color: #feda4a;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

header{
	padding: 10px;
	text-align: center;
	font-weight: 600;
	font-size: 40px;
	color: #feda4a;
	font-family: 'Pathway Gothic One', sans-serif;
	background: url(https://img.wallpapersafari.com/desktop/1920/1080/96/60/ZBf0Im.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header h1, header p, header a {
	transform: perspective(400px) rotateX(20deg);
	margin: 10px;
	text-decoration: none;
	color: #feda4a;
}

textarea {
	font-size: 14px;
}

#mainPage{
	padding: 50px;	
}

#top-left {
	float: left;
	width: 50%;
}

#top-left p {
	padding: 0;
	margin: 0;
}

#top-right {
	padding: 0;
	margin: 0;
 	margin-left: 50%;
 	width: 50%;
} 

#top-right p {
	padding: 0;
	margin: 0;
} 

#togglePost {
	margin: 50px;
	text-align: center;
}

.clear {
	clear: both;
}

/* This part added while Shawheen was driving */ 

#subscribe-container {
	display: inline-block;
	text-align: right;
	position: absolute;
	right: 50px;
}

#extraPosts {
	display: none;
}


#postTitles{
	font-family: Didot;
	font-size: 20px;
}

#titles{
	font-family: Didot;
	font-size: 24px;
	
}

#newPost {
	display: none;
	text-align:center;
}

/* This part added while Adrian was driving */ 

