header{
	padding: 10px;
	text-align: center;
	font-weight: 600;
	font-size: 40px;
	color: #feda4a;
	font-family: 'Pathway Gothic One', sans-serif;
	background: url(https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_960_720.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header h1, header p {
	transform: perspective(400px) rotateX(20deg);
}

body {
	font-family: 'Pathway Gothic One', sans-serif;
	margin: 0;
}

textarea {
	resize: none;
}

#subscribe-container {
	text-align: center;
	padding: 20px;
}

#extraPosts {
	display: none;
}


#postTitles{
	font-family: Didot;
	font-size: 20px;
}

#titles{
	font-family: Didot;
	font-size: 24px;
	
}


#mainPage{
	padding-left: 20px;
	padding-right: 20px;
}

#newPost {
	display: none;
}

